/* text-properties */
/* box model */
/* box-shadow */
/*  */


/* syntax */

/** 
  selectros -> tag , class , id

 selector{
   prop:val; 
}

**/

.text{
   
   color:red;
   font-size: 30px;
   font-family: sans-serif;
   text-transform:lowercase;
   text-decoration: underline;
   font-weight:bolder;
   font-style: normal;
   text-align: center;
   text-indent:0px;
   text-shadow: 2px 1px blue;
   letter-spacing: 0px;
   word-spacing: 100px;
   text-wrap: wrap;

   border: 2px solid green;
   border-radius: 10px;
   margin: 40px;
   padding: 30px;
   box-sizing:border-box;
   box-shadow: 1px 1px 10px yellow;
   
}


/* flex box */


.flex-c{
 background-color: silver;
 list-style-type: none;
 height: 400px;
 max-width: 450px;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 flex-wrap: wrap;
 flex-direction: row;
 
}


.flex-i{
  background-color: #7700ff;
  color:#fff;
  padding: 10px;
}

.flex-i:first-child{
    background-color: red;
    flex-grow: 1;
    flex-shrink: 2;
}

.flex-i:nth-child(2){
    background-color: rgb(43, 255, 0);
    flex-grow: 6;


}

.flex-i:nth-child(3){
    background-color: rgb(5, 5, 186);
    flex: 1 0 300px;
}

fieldset{
  background-color: rgb(255, 255, 255);
}

legend{
  background-color: rgb(229, 229, 229);
}

form{
  background-color: rgb(243, 255, 255);
  padding: 40px;
}

label{
  display: block;
}

select{
  display: block;
  margin-top: 30px;
}

button{
  display: block;
  margin: 30px 0;
}

input{
  width: 300px;
  height: 36px;
  border-radius:5px;
}