#intro {
    height: 800px;
    background-image: url("https://picsum.photos/id/521/1200/900");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;

    .wrapper {
        padding: 60px;

        h1 {
            margin-bottom: 40px;
            font-size: 66px;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-color: red;
            -webkit-text-stroke-width: 2px;
            font-family: monospace;
        }

        p {
            font-size: 24px;
        }
    }
}
