/* 1. ID , 2. class , 3. tags */





.title {
  text-decoration: solid brown underline;
  font-size:14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight:400;
  font-style:normal;

}


body{
  color:limegreen'
}







